/*body {
    background: url(bba-city-background-optimized.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
#logForm {
    position: absolute;
    left: 40%;
    top: 35%;
}